@import "../../global.scss";

.topbar{
    width: 100%;
    height: 100px;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    overflow: hidden;

    z-index: 5;

    .wrapper{
        padding:  10px 30px 0 10px  ;
        display: flex;
        align-items: center;
        
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            
            .logo{
                display: flex;
                text-decoration: none;
                height: 80px;
            }
        }
        .midle{
            display: flex;
            align-items: center;
            .itemContainer{
                display: flex;
            align-items: center;
            margin: 5px;
            color: white;
                p{
                    padding-left: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    
                }
            
            }
        }
        .right{
            color: white;

            .hamburger{
                cursor: pointer;
                display: contents;
                transition: all 2s ease;
            }
            .hamburger-open{
                cursor: pointer;
                display: none;
                transition: all 2s ease;

            }
        }
    }


    &.active{

        .right{ 
            .hamburger{
            display: none;
                }
            .hamburger-open{
            display: contents;
            }
            }
    }
}
@media screen and (max-width: 600px) {
    .topbar{
        .wrapper{
            .midle{
                display: none;
            }
        }
    }
   

}